doctype html 
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Noom
		link(rel="stylesheet", href="https://unpkg.com/mvp.css")
		//- <!--     Basic Three.js -->
		script(src="https://unpkg.com/three@0.133.0/build/three.js")
		//- <!--     GLTF Loader for Three.js -->
		script(src="https://unpkg.com/three@0.133.0/examples/js/loaders/GLTFLoader.js")
		//- <!--     Orbit Controls for Three.js -->
		script(src="https://unpkg.com/three@0.133.0/examples/js/controls/OrbitControls.js")
		//- <!--     VRM Loader for Three.js -->
		script(src="https://unpkg.com/@pixiv/three-vrm@0.6.7/lib/three-vrm.js")
		//- <!--     Mediapipe or Tensorflow.js -->
		script(src="https://cdn.jsdelivr.net/npm/@mediapipe/holistic@0.5.1635989137/holistic.js", crossorigin="anonymous")

		//- <!--     Mediapipe Drawing Tools -->
		script(src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js", crossorigin="anonymous")
		//- <!--     Mediapipe Camera Tools -->
		script(src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js", crossorigin="anonymous")
		//- <!--     Kalidokit Kinematic Solver -->
		script(src="https://cdn.jsdelivr.net/npm/kalidokit@1.1/dist/kalidokit.umd.js")


		//- <!--     Mediapipe Camera Tools -->
		//- script(src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js", crossorigin="anonymous") 
		//- script(src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js", crossorigin="anonymous") 
		//- <!--     Mediapipe Drawing Tools -->
		//- script(src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js", crossorigin="anonymous") 
		//- script(src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js", crossorigin="anonymous") 
		//- <!-- Live 2D setup --> 
		//- <script src="//cubism.live2d.com/sdk-web/cubismcore/live2dcubismcore.min.js"></script>
		//- <script src="//cdn.jsdelivr.net/gh/dylanNew/live2d/webgl/Live2D/lib/live2d.min.js"></script>
		//- <!-- PixiJS -->
		//- <script src="//cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
		//- <script src="//cdn.jsdelivr.net/npm/pixi-live2d-display/dist/index.min.js"></script>
		//- <!-- Kalidokit -->
		//- <script src="//cdn.jsdelivr.net/npm/kalidokit@1.1/dist/kalidokit.umd.js"></script>
	body 
		header
			h1 Moonjong's Noom
		main
			div#welcome
				form
					input(placeholdeer="room name", required, type="text")
					button Enter Room  
			div#call
				div#myStream
					p 
					ul#videos
						video#my-video(autoplay, playsinline, width="400", heigth="400")
						canvas#my-guides(width="600", heigth="600")
					button#mute mute
					button#camera camera
					select#cameras
						option(value="device") Face camera
					p 
						video#peerFace(autoplay, playsinline width="600", heigth="600")
		script(src="/three/three.js")
		script(src="/socket.io/socket.io.js")
		script(src="/public/js/app.js")
